.footer__container{
    margin:13px 160px 23px 160px;
    display: flex;
    gap: 32px;
    .footer__container-article{
        padding: 32px 44px 13px 32px;
        background-color: white;
        img{
            margin-bottom: 8px;
        }
        h4{
            margin-bottom: 8px;     
            font-size: 24px;
            color: $black;
            font-weight:500;
        }
        p{
            color:$grey;
        }
        &:hover{
            border:2px solid $blue;
            cursor: default;

        }
    }
}