.header__container{
    margin: 33px 160px;
    display: flex;
    justify-content: space-between;

    .header__ul{
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 56px;

    }

}